{{#unless eaten}}
<li class="burgerList">
    <span class="subtitle name">{{burger_name}}</span>
    <button onClick="updateItem(this)" class="button is-danger eatBtn" data-id="{{id}}"
        data-eaten="{{eaten}}">Eat</button>
</li>
{{/unless}}