{{#if eaten}}
<div class="card ">
    <div class="card-content leftBorder">
        <li class="eatenBurgerList">
            <p class="subtitle name">{{burger_name}}</p>
            <button onClick="deleteItem(this)" class="button is-danger deleteBtn reloadButton" type="submit" </a>
                data-id="{{id}}"><a href="/api/burgers" style="width: 100%">Delete</button>
        </li>
    </div>
</div>
{{/if}}