{{#if eaten}}
<div class="card ">
    <div class="card-content leftBorder">
        <li class="eatenBurgerList">
            <p class="subtitle name">{{burger_name}}</p>
            <a href="/burgers" style="width: 100%">
                <button onClick="deleteItem(this)" class="button is-danger deleteBtn reloadButton" type="submit"
                    data-id="{{id}}">Delete</button>
            </a>
        </li>
    </div>
</div>
{{/if}}