{{#unless eaten}}
<div class="card">
    <div class="card-content">
        <li class="burgerList">
            <p class="subtitle name">{{burger_name}}</p>
            <footer class="card-footer">
                <a href="/api/burgers" style="width: 100%">
                    <button onClick="updateItem(this)" type="submit" class="button is-warning eatBtn reloadButton"
                        data-id="{{id}}" data-eaten="{{eaten}}">Eat</button>
                </a>
            </footer>
        </li>
    </div>
</div>
{{/unless}}