{{#if eaten}}
<div class="card ">
    <div class="card-content leftBorder">
        <li class="eatenBurgerList">
            <p class="subtitle name">{{burger_name}}</p>
            <form action="/api/burgers" method="DELETE">
                <button style="width: 100%" onClick="deleteItem(this)" class="button is-danger deleteBtn reloadButton"
                    type="submit" data-id="{{id}}">Delete</button>
            </form>
        </li>
    </div>
</div>
{{/if}}