{{#if eaten}}
<li class="eatenBurgerList">
    <span class="subtitle name">{{burger_name}}</span>
    <form action="/api/burgers" method="DELETE">

        <button onClick="deleteItem(this)" class="button is-danger deleteBtn reloadButton" type="submit"
            data-id="{{id}}">Delete</button>
    </form>
</li>
{{/if}}