<div class="modal displayNone">
    <div class="modal-background"></div>
    <div class="modal-content">
        <form action="/api/burgers" method="POST">
            <div class="control">
                <input class="input burgerInput" name="burger_name" type="text" placeholder="Text input">
                <button type="submit" class="button  is-warning submitBtn">Submit</button>
            </div>
        </form>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>