{{> modal}}
<section class="hero is-medium is-dark is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                EAT DA BURGER
            </h1>
            <button id="displayModal" class="button is-large addBurgerBtn">Add Burger</button>
        </div>
    </div>
</section>
<div class="columns">
    <ul class="column is-half">
        <p class="subtitle headers">EAT DA BURGER</p>
        {{#each burgers}}
        {{> burgers-notEaten}}
        {{/each}}
    </ul>
    <ul class="column is-half">
        <p class="subtitle headers">BURGERS EATEN</p>
        {{#each burgers}}
        {{> burgers-eaten}}
        {{/each}}
    </ul>
</div>